* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  height: 100%;
  width: 100%;
  background-color: orange;
  min-height: 100vh;
}
.top {
  min-height: 55vh;
  width: 100%;
  background-image: url(https://plus.unsplash.com/premium_photo-1702058572011-29d5025557c8?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
#topOne {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
  padding-left: 10vw;
  padding-bottom: 70px;
}
.top #topOne #topleft {
  display: flex;
  gap: 2vw;
  align-items: center;
}

#topRight {
  color: #fff;
  padding-right: 10vw;
  word-spacing: 2vw;
  font-size: 30px;
}

#topOne h6 {
  font-size: 20px;
  color: #fff;
}
#topleft img {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.top #textArea h1 {
  font-size: 70px;
  font-weight: 500;
}
.top #textArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: aliceblue;
}
#textArea #text1 {
  width: 25%;
}
#textArea #text2 {
  width: 25%;
}
.bottom {
  min-height: 45vh;
  width: 100%;
  background-color: blue;
  display: flex;
  /* position: relative; */
}
#boxOne {
  min-height: inherit;
  width: 20%;
  background-color: white;
  padding: 25px 30px;
}
#boxTwo {
  min-height: inherit;
  width: 25%;
  background-image: url(https://images.unsplash.com/photo-1702121269747-fe91af4fa4a8?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8);
  background-size: cover;
  background-position: bottom;
}
#boxOne h4 {
  opacity: 0.8;
  font-size: 20px;
  padding-top: 50px;
  color: gray;
}

#boxOne p {
  color: rgb(26, 25, 23);
  margin-top: 10px;
  padding-top: 10px;
  gap: 17px;
}
#boxThree {
  min-height: inherit;
  width: 23%;
  background-color: rgb(13, 17, 21);
}
#boxThreeTop {
  min-height: 22.5vh;
  width: 100%;
  background-color: rgba(249, 75, 75, 0.906);
}
#boxThreeTop h4 {
  padding-top: 17px;
  padding-left: 20px;
  color: aliceblue;
}
#boxThreeTop #boxThreeTopPara {
  padding-left: 20px;
  padding-top: 10px;
  color: aliceblue;
}

#boxThreeBottom {
  min-height: 22.5vh;
  width: 100%;
  background-image: url(https://plus.unsplash.com/premium_photo-1698057772115-954a2e4ffec0?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#boxFour {
  min-height: 50vh;
  width: 32%;
  background-color: rgb(18, 17, 19);
  padding-top: 30px;
}

#boxFour #info {
  padding-left: 20px;
  width: 80%;
  color: rgb(135, 131, 131);
}
#info img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
#info h4 {
  padding-top: 20px;
  padding-left: 17px;
}
#infoOne {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  padding-left: 17px;
  font-size: 14px;
}
#infoTwo {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-left: 17px;
  font-size: 14px;
}
#info span {
  color: rgb(91, 90, 90);
}
@media (max-width: 500px) {
  .topTwo #textArea {
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .topTwo #textArea #text1 {
    width: initial;
    margin-top: 20px;
  }
  .topTwo #textArea #text2 {
    width: initial;
    margin-top: 20px;
  }
  .topTwo #textArea #text3 {
    margin-top: 30px;
  }
  .bottom {
    flex-direction: column;
  }
  #boxOne {
    width: 100%;
  }
  #boxTwo {
    width: 100%;
  }
  #boxThree {
    flex-direction: column;
    width: 100%;
  }
  #boxFour {
    width: 100%;
  }
}
